@import variables
@import node_modules/bulma/bulma

@import helpers

html, body
  height: 100%
  margin: 0
  padding: 0

#map
  height: 450px

.location
  display: flex

  &__left
    flex: 0 1 40px
    font-size: 2em

  &__right
